/* Стилизация кнопки */
* {
    box-sizing: border-box;
}

.btn {
    height: 48px;
    border-radius: 8px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    color: var(--white);
    cursor: pointer;
    padding: 15px 60px 14px 60px;
}  

.btn_Primary {
    background-color: #4263EB;
    border: 1px solid var(--black);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn_Primary:active,
.btn_Primary:hover {
    background-color: #2342C0;
    transition: none;
} 

.btn:disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
}

.btn_Secondary  {
    background-color: var(--purple);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn_Secondary:active,
.btn_Secondary:hover {
    background-color: var(--dark-purple);
    transition: none;
} 

.btn_Alternate {
    background-color: var(--white);
    border: 1px solid var(--grey-3);
    color: var(--grey-4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn_Alternate:active,
.btn_Alternate:hover {
    border: 1px solid var(--black);
    transition: none;
} 