/* Стилизация аккордеона */


.container {
    max-width: 730px;
    margin-bottom: 8px;
    box-sizing: border-box;
}

.wrapper :last-child {
    margin-bottom: 0px;
}

.accordion {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
}

.accordion__item {
    font-size: 16px;
    padding: 24px 0 24px 32px;
}

.accordion__text {
    padding: 0 49px 32px 32px;
    margin: 0;
    color: var(--grey-4);
    line-height: 24px;
}
